/* //navbarcss */
.logo-container {
  display: flex;
  /* background-color: red; */
  align-items: center;
  justify-content: space-between;
  /* padding: 10px; */
}

.logo-image {
  width: 100px;
  margin-left: 50px;
}

.list-items {
  display: flex;
  gap: 30px;
  list-style: none;
  text-decoration: none;
  margin-right: 50px;
}

.navlink-list {
  /* float: right; */
  font-weight: 600;
  font-size: medium;
  text-decoration: none;
  list-style: none;
  color: #332600;
  padding: 10px;
  border-radius: 18px;
}

.navlink-list:hover {
  background-color: #fff2cc;
  /* padding: 10px; */
  border-radius: 18px;
}

.navlink-list.active {
  background-color: #332600;
  color: white;
}
/* //navbarcss end*/
/* Homecssheader */
.header-image {
  background-size: cover;
  width: 100%;
}
/* Homecssheader end*/

/* selectnetworkcss */
.select-network-container {
  /* background-color: yellow; */
  padding: 5px;
}
.select-network {
  color: #332600;
  text-align: center;
  font-size: 38px;
  font-weight: 500;
  /* line-height: 60px; */
}
.network-logos {
  text-align: center;
  /* justify-content: space-between; */
  /* background-color: red; */
}
.network-logo {
  width: 100px;
  gap: 20px;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}
.network-logo:hover {
  cursor: pointer;
  opacity: 0.8;
}
.network-image img {
  padding: 10px;
  margin-right: 30px;
  margin-bottom: 20px;
  cursor: pointer;
}
.network-logo.selected {
  border: 2px solid black; /* Black border for selected image */
  box-sizing: border-box;
}
.whatsapp-logo {
  position: sticky;
  bottom: 20px;
  width: 100px;
  float: right;
  margin-right: 100px;
  cursor: pointer;
}

.whatsapp-logo a {
  color: #332600;
  text-decoration: none;
  font-size: large;
  font-weight: 600;
}
.whatsapp-logo img {
  width: 80px;
  cursor: pointer;
}

.whatsapp-logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.dropdown-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.dropdown-table th,
.dropdown-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.dropdown-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}
/* selectnetworkcss end*/
