/* //navbarcss */
.logo-container {
  display: flex;
  /* background-color: red; */
  align-items: center;
  justify-content: space-between;
  /* padding: 10px; */
}

.logo-image {
  width: 100px;
  margin-left: 50px;
}

.list-items {
  display: flex;
  gap: 30px;
  list-style: none;
  text-decoration: none;
  margin-right: 50px;
}
.nav {
  border-bottom: 1px solid #806000;
}
.navlink-list {
  /* float: right; */
  font-weight: 600;
  font-size: medium;
  text-decoration: none;
  list-style: none;
  color: #332600;
  padding: 10px;
  border-radius: 18px;
  width: 120px;
  text-align: center;
}

.navlink-list:hover {
  background-color: #fff2cc;
  /* padding: 10px; */
  border-radius: 18px;
}

.navlink-list.active {
  background-color: #332600;
  color: white;
}
/* //navbarcss end*/
/* Homecssheader */

.header {
  /* position: relative; */
  height: auto;
}
.header-image {
  background-size: cover;
  width: 100%;
}
/* Homecssheader end*/

/* selectnetworkcss */
.select-network-container {
  padding: 20px;
}
.select-network {
  color: #332600;
  text-align: center;
  font-size: 28px;
  font-weight: 500;

  /* line-height: 60px; */
}
.network-logos {
  text-align: center;
}
.network-logo {
  width: 100px;
  gap: 20px;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}
.network-logo:hover {
  cursor: pointer;
  opacity: 0.8;
}
.network-image img {
  padding: 10px;
  margin-right: 30px;
  margin-bottom: 20px;
  cursor: pointer;
}
.network-logo.selected {
  border: 2px solid black;
  box-sizing: border-box;
}

.dropdown-table table {
  width: 60%;
  border-collapse: collapse;
  margin-top: 20px;
  margin: auto;
  color: #332600;
}

.dropdown-table th,
.dropdown-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  color: #554000;
}
.dropdown-table td button {
  width: Hug (243px) px;
  height: Hug (58px) px;
  padding: 8px 12px 8px 12px;
  gap: 10px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0px;
  cursor: pointer;
  background-color: #554000;
  color: #fff2cc;
}
.dropdown-table td button:hover {
  background-color: #806000;
}
.dropdown-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}
/* selectnetworkcss end*/

/* paymentflow css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-weight: 600;
}

.modal-content {
  background: #fff2cc;
  /* align-items: center; */
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  width: 520px;
  height: 380px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}
.closebtn {
  /* border-bottom: 1px solid red; */
  padding: 10px;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  /* font-size: 10px; */
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 250px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.phoneNumber {
  width: 200px;
  margin-right: 50px;
}
.networkDataplan {
  display: flex;
  justify-content: space-between;
}
.mobileNoAmt {
  display: flex;
  justify-content: space-between;
}

button {
  background: #554000;
  /* color: #fff; */
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400;
}

button:hover {
  background: #806000;
}

.payment-method {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.payment-option {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.payment-option.active {
  border: 2px solid #554000;
  background: #fef4d6;
}

.card-details {
  margin-top: 20px;
}
.details-one {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  /* border: 1px solid red; */
}
.details-one img {
  width: 20%;
}
.details-two {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.details-two input {
  width: 80%;
}

.payment-logo {
  width: 50px;
  margin-bottom: 10px;
}

.pay-btn {
  background: #28a745;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
}
.trans-success {
  display: grid;
}
/* paymentflowend css */

/* Howweworkitcss  */
.how-we-work-container {
  padding: 20px;
  text-align: center;
  /* border: 2px solid red; */
}
.Howweworkit-title {
  margin-bottom: 50px;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  color: #332600;
}

.image-carousel {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  transition: transform 1s ease-in-out;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  width: 100%;
  height: auto;
  display: block;
}

.dots-container {
  margin-top: 20px;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: #f0f0f0;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.active-dot {
  background-color: #806000; /* Your preferred color */
}

/* Howweworkitcss end  */

/* Testimonialreviewcss  */
.testimonial-container {
  padding: 20px;
  text-align: center;
  position: relative;
}

.testimonial-title {
  margin-bottom: 50px;
  font-size: 28px;
  font-weight: 500;
  color: #332600;
}

.testimonial-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.testimonial-cards {
  display: flex;
  justify-content: center;
  gap: 70px;
  overflow: hidden;
}

.testimonial-card {
  position: relative;
  border: 1px solid #f0f0f0;
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  height: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.testimonial-name {
  color: #5b3b00;
  font-weight: bold;
  font-size: 22px;
}

.testimonial-role {
  color: #8e8e8e;
  font-weight: 500;
}

.testimonial-text {
  font-style: italic;
  font-size: 16px;
  font-weight: 500;
  color: #332600;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 40px;
  height: 40px;
  /* border-radius: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.arrow-left {
  left: 50px;
}

.arrow-right {
  right: 50px;
}

.dots-container {
  margin-top: 30px;
  margin-bottom: 70px;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: #f0f0f0;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.active-dot {
  background-color: #806000; /* Your preferred color */
}

/* Testimonialreviewcss end  */

/* Footercss */
.footer {
  background-color: #eeeded;
  padding: 10px;
  position: relative;
}
.whatsapp-logo {
  position: fixed;
  bottom: 0;
  right: 0;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  z-index: 10;
  width: 100px;
  float: right;
  cursor: pointer;
}

.whatsapp-logo a {
  color: #332600;
  text-decoration: none;
  font-size: medium;
  font-weight: 600;
}
.whatsapp-logo img {
  width: 80px;
  cursor: pointer;
}

.whatsapp-logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.footer-container {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px 0 100px;
  border: 1px solid #f0f0f0;
}

.footer-logo {
  width: 100%;
  margin-bottom: 10px;
}
.footer-socials a {
  margin: 0 10px;
}

.footer-socials img {
  width: 30px;
}
.footer-middle a {
  display: flex;
  text-decoration: none;
  align-items: center;
  margin: 10px;
}
.footer-middle a p {
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #332600;
}
.footer-middle img {
  width: 40px;
  height: 100%;
}

.footer-right p {
  font-size: 20px;
  font-weight: 600;
  color: #332600;
  /* align-items: center; */
  text-align: center;
}

/* Footercss end*/

/* Responsiveness */
@media (max-width: 768px) {
  .network-logo {
    /* display: table-column-group; */
    display: flow-root;
  }
  .testimonial-cards {
    flex-direction: column;
    align-items: center;
  }

  .footer-container {
    display: inline;
    text-align: center;
    /* flex-wrap: wrap; */
  }
  .footer-logo {
    width: 50%;
  }
  .footer-middle {
    /* display: inline-flex; */
    /* align-items: center; */
    text-align: center;
    /* background-color: red; */
    place-items: center;
    display: grid;
  }
}

@media (max-width: 480px) {
  .logo-image {
    width: 60px;
  }

  .navlink-list {
    padding: 5px;
    font-size: small;
  }

  .testimonial-card {
    width: 100%;
  }
}
